
<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="./styles.css">
    </head>

    <body>
        <form method="POST" action="/new">
            <h1>Message details</h1>
            <section>
                <label for="name">User name:</label>
            <input type="text" id="name" name="User" required>
            </section>
            <p></p>
            <section>
                <label for="message">Message:</label>
            <input type="text" id="message" name="Text" required>
            </section>
            <p></p> 
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
