
<form method="POST" action="/new">
    <h1>text</h1>
    <label for="name">User name:</label>
    <input type="text" id="name" name="User">

    <label for="message">Message:</label>
    <input type="text" id="message" name="Text">

    <button type="submit">Submit</button>
</form>