<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>

        <main>
            <section class="tiTle">
                <%= title %>
            </section>
            <section class="container">
                <%- include('message', {messages: mainMessages}) %>
            </section>
            
            <section class="addMessage">
                <a href="/new">Add new message </a>
            </section>
            
        </main>
        
    
    </body>
</html>