<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./styles.css">
    </head>
<body>
    <section class="allMessage">
        
        <% for (let i=0; i < messages.length; i++){ %>
            <section class="oneMessage">
                <section>          
                    <section>
                        <%= messages[i].user %> 
                    </section>

                    <section>
                        <%= messages[i].text %> 
                    </section>

                    <section>
                        <%= messages[i].added %> 
                    </section>
                </section>

                <section class="openMessage">
                    <a href="/open/<%= i %>"> Open </a> 
                </section>
            </section>
        <% } %>
        
    </section>
</body>
</html>
